:root {
    /* Can anyone think of a better way to do header-content height splitting...? */
    --cashier-header-height: 4rem;
    --cashier-view-height: calc(100vh - var(--cashier-header-height));
    --cashier-header-color: color-mix(in srgb, aqua 80%, brown 20%);
    --cashier-header-icon-size: 2rem;
}

.header {
    padding: 20px;
    display: flex;
    height: var(--cashier-header-height);
    align-items: center;
    justify-content: space-between;
    background-color: var(--cashier-header-color);
    border-bottom: 2px solid black;
}

.headerLink, .headerLink:visited, .headerLink:active {
    color: white;
    text-decoration: none;
}

.title {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    color: white;
}

.headerIcon {
    font-size: var(--cashier-header-icon-size);
    color: white
}

.headerSpacer {
    width: var(--cashier-header-icon-size);
    height: var(--cashier-header-icon-size);
}

.splitView {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: var(--cashier-view-height);
    width: 100vw;
}

.orderPane {
    /* overflow-x: hidden;
    overflow-y: scroll; */
    overflow: hidden;
    background-color: white;
    border-right: 2px solid black;
}

.menuPane {
    /* overflow-x: hidden;
    overflow-y: scroll; */
    /* overflow: hidden; */
    background-color: white;
}

.orderProgression {
    height: 2rem;
    margin: 15px;
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.progressBar {
    height: 2rem;
    padding: 30px;
    background-color: var(--cashier-header-color);
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    border-radius: 40px;
    border: 2px solid black;
}

.progressBarStage {
    margin: 0;
    padding: 5px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    border-radius: 20px;
    color: white;
}

.progressBarStage.progressBarActive {
    background-color: rgb(226, 255, 255);
    color: black;
    /* border: 3px solid black; */
}

/* Inactive styles by default */
.doneButton {
    border: 2px solid gray;
    background-color: lightgray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    border-radius: 40px;
    padding: 17.25px 40px;
    font-weight: bold;
}

.doneButton.buttonActive {
    border: 2px solid black;
    background-color: var(--cashier-header-color);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    border-radius: 40px;
    padding: 17.25px 40px;
    font-weight: bold;
}
.doneButton.buttonActive:hover {
    cursor: pointer;
    /* background-color: rgb(226, 255, 255); */
    color: black;
    border: 2px solid black;
}
