#OrderView {
    margin-top: 2px;
    margin-left: 2px;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    outline: 2px;
    outline-color: black;
    outline-style: solid;

    display: flex;
    justify-content: space-between;
    flex-direction: column;   
}

#orderTitle {
    text-align: center;
    background-color: white;
}

#totalAmount {
    display: flex;
}

