.part {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: auto;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}
.part * {
    margin: 0;
    padding: 0;
}

.part div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.partName {
    /* Add any specific styles for partName here */
}

.partPrice {
    /* Add any specific styles for partPrice here */
}