#order {
    
    background-color: #E6E6E6;
    border-radius: 20px;

    margin: 5%;
   
}

#header {
    display: flex;
    margin: 0;
    justify-content: space-between;

    gap: 30px;

}

#partList {
    display: flex;
    margin: 0 0 0 5%;
    display: inline-block;
    width: 100%;
}