#ProgressBar {
    display: flex;
    justify-content: space-between;
    gap: 300px;
    background-color: #E6E6E6;
    border-radius: 30px;

    margin: 10px 70px;

}

#ProgressBar * {
    margin: 10px 10px;
}