@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* Hide Google Translate */
body > .skiptranslate {
    display: none;
}

body {
    top: 0 !important;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
    display: none;
}
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
    display: none;
}
/* Hide Google Translate */