.kioskCart {
    padding: 1.5rem;
}

.cartItems {
    max-width: 8in;
    margin: 0 auto;    /* Warning: dangerous! Can affect other styles. */
}

.cartTitle {
    font-family: "Futura", Arial, sans-serif;
    font-size: 24pt;
    font-weight: normal;
    text-align: center;
}

.cartMenuItem {
    background-color: rgb(216, 225, 232);
    padding: 0.75rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.itemHeader {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.itemTitle {
    margin: 0;
    padding: 0;
    font-family: 'Futura', Arial, Helvetica, sans-serif;
    font-size: 18pt;
}
.itemPrice {
    margin-left: auto;
    padding: 0;
    font-family: 'Futura', Arial, Helvetica, sans-serif;
    font-size: 18pt;
}
.itemXButton {
    font-size: 21pt;
    margin-right: 9pt;
}
.itemXButton:hover {
    color: white;
    cursor: pointer;
}

.cartMenuPart {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgb(154, 183, 208);
    padding: 10px 15px;
    margin: 0 0 10px 20px;
    border-radius: 10px;
}

.partTitle {
    margin: 0;
    padding: 0;
    font-family: 'Futura', Arial, Helvetica, sans-serif;
    font-size: 14pt;
}
.partPrice {
    margin-left: auto;     /* NOTE: margin-<direction>: auto is DANGEROUS. Use it sparingly... */
    padding: 0;
    font-family: 'Futura', Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

.completeOrderContainer {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.completeOrderButton {
    background-color: crimson;
    font-family: 'Futura', Arial, sans-serif;
    font-size: 14pt;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border-width: 0;
    border-style: none;
}

.completeOrderButton.buttonDisabled {
    background-color: rgb(210, 112, 132);
    color: black;
}

.completeOrderButton:not(.buttonDisabled):active {
    background-color: rgb(184, 23, 55);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.completeOrderButton:not(.buttonDisabled):hover {
    cursor: pointer;
}
