
.kitchenHome {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 1.5rem;
}
.placeholderTitle, .placeholderBody {
    padding: 0;
    margin: 0;
    font-family: Futura, Arial, sans-serif;
    font-weight: normal;
    text-align: center;
}

.placeholderTitle {
    font-size: 20pt;
}

.placeholderBody {
    margin: 10pt 0 10pt 0;
    font-size: 12pt;
}

.hashLoader {
    margin: 0 auto;
}

.loaderDiv {
    margin-top: 4.5rem;
}

